.aboutUsTop {
    width: 100%;
    background-color: #fff;

    padding: 10px 20% 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutUsTop h6 {
    color: #b02427;
    font-size: 13px;
    margin-bottom: 0;

}

/* .aboutUsTop div {
    width: 48%;
} */

.aboutUsTop>div:first-child {
    width: 60%;
    font-size: 33px;
    font-weight: 900;
}

.aboutUsTop>div:last-child {
    width: 30%;
    padding-top: 45px;
    box-sizing: border-box;
    font-size: 12px;
    color: #888;
}

/* < !-- 为什么选择我们 --> */
.aboutUsWCU {
    width: 100%;
    padding: 10px 20% 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f7f7f7;
}

.aboutUsWCU>div:first-child {
    width: 48%;
    font-size: 33px;
    font-weight: 900;
}

.aboutUsWCU p {
    font-size: 12px;
    color: #888;
}

.aboutUsWCU button {
    width: 150px;
    height: 40px;
    background-color: #fe9900;
    border: none;
    margin-left: auto;
    margin-top: 20px;
    display: block;
    cursor: pointer;
    margin: 20px auto 20px 0;
    font-weight: 800;
    border-radius: 3px;
}

.aboutUsWCU>div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48%;
    font-weight: 800;
}

.aboutUsWCU>div:last-child>div {
    background-color: #fff;
    width: 48%;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 5px;
    padding-bottom: 40px;
}

.aboutUsWCU>div:last-child div div {
    border-radius: 50%;
    background-color: #f6f8f5;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 23px;
}

.aboutUsWCU>div:last-child img {
    width: 50%;
}

/* < !-- 我们的团队 --> */

.ourTeam {
    width: 100%;
    padding: 100px 20%;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}

.ourTeam h6 {
    color: #b02427;
    margin-bottom: 0;
}

.ourTeam p {
    font-size: 33px;
    font-weight: 800;
    margin-top: 0;
}

.ourTeamItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ourTeamItem>div {
    width: 24%;
}

.ourTeamItem h4 {
    margin-bottom: 0;
}

.ourTeamItem>div img {
    width: 100%;
    border-radius: 3px;
}

.ourTeamItem span {
    color: #888;
    font-size: 13px;

}

/* < !-- 进度条 --> */
.ProgressBar {
    width: 100%;
    background-color: #f6f8f5;
    padding: 100px 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ProgressMain {
    width: 48%;
}

.ProgressMain>div {
    margin-top: 20px;

}

.Progress {
    width: 98%;
    height: 5px;
    background-color: #212d39;
    border-radius: 3px;
    margin-top: 10px;
}

.ProgressItem {
    height: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fe9900;
    text-align: right;
}

.ProgressMain:first-child .ProgressItem {
    width: 80%;
}

.ProgressMain>div:nth-child(2) .ProgressItem {
    width: 95%;
}

.ProgressMain>div:nth-child(3) .ProgressItem {
    width: 90%;
}

.ProgressMain>div:nth-child(4) .ProgressItem {
    width: 70%;
}

.ProgressMain:hover>div:nth-child(1) .ProgressItem {
    animation: widthani 2s;
}

.ProgressMain:hover>div:nth-child(2) .ProgressItem {
    animation: widthani02 2s;
}

.ProgressMain:hover>div:nth-child(3) .ProgressItem {
    animation: widthani03 2s;
}

.ProgressMain:hover>div:nth-child(4) .ProgressItem {
    animation: widthani04 2s;
}

@keyframes widthani {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes widthani02 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

@keyframes widthani03 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes widthani04 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

.ProgressItem div {
    transform: translateY(-20px);
    font-size: 12px;
}

.ProgressText {
    width: 48%;
}

.ProgressText h6 {
    color: #b02427;
    margin-bottom: 0;
}

.ProgressText p {
    margin-top: 0;
    font-size: 33px;
}

.ProgressText div {
    font-size: 12px;
    color: #888;
}

.aboutUsBot {
    width: 100%;
    padding: 100px 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
}

.aboutUsBot>div {
    width: 48%;
}

.aboutUsBot>div:last-child {
    /* text-align: right; */
    display: flex;
    justify-content: right;
    align-items: center;
}

.aboutUsBot button {
    height: 60px;
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    cursor: pointer;
    vertical-align: bottom;
}

.aboutUsBot button:first-child {
    background-color: #fe9900;
    color: #000;
    margin-right: 10px;
}

.aboutUsBot button:nth-child(2) {
    background-color: #b02427;
    color: #fff;
}

@media screen and (max-width: 876px) {
    .aboutUsTop {
        padding: 10px 10% 100px;
    }

    .aboutUsTop>div:first-child {
        width: 100%;
        font-size: 27px;
        font-weight: 800;
    }

    .aboutUsTop>div:last-child {
        width: 100%;
    }

    .aboutUsWCU {
        padding: 10px 10% 100px;

    }

    .aboutUsWCU>div:first-child {
        width: 90%;
        font-size: 33px;
        font-weight: 900;
    }

    .aboutUsWCU>div:last-child {
        width: 100%;

    }

    .ourTeam {
        padding: 100px 10%;
    }

    .ourTeamItem>div {
        width: 48%;
        margin-bottom: 30px;
    }

    .ProgressBar {
        padding: 100px 10%;
    }

    .ProgressMain {
        width: 100%;
    }

    .ProgressText {
        width: 80%;
        margin-top: 50px;
    }

    .aboutUsBot {
        padding: 100px 10%;
    }

    .aboutUsBot>div {
        width: 80%;
    }

    .aboutUsBot>div:last-child {
        width: 100%;
        margin-top: 50px;
    }


}

@media screen and (max-width: 375px) {
    .aboutUsWCU>div:last-child>div {
        width: 100%;
    }

    .ourTeamItem>div {
        width: 100%;
    }

    .aboutUsTop {
        padding: 10px 5% 50px;
    }

    .aboutUsTop>div:first-child {
        font-size: 22px;
    }

    .aboutUsTop>div:last-child {
        padding-top: 20px;
    }

    .aboutUsWCU {
        padding: 10px 5% 50px;
    }

    .aboutUsWCU h6 {
        font-size: 18px;
        margin: 10px 0;
    }

    .aboutUsWCU>div:first-child {
        font-size: 22px;
    }

    .aboutUsWCU button {
        width: 120px;
        height: 36px;
    }

    .aboutUsWCU>div:last-child>div {
        width: 49%;
    }

    .ourTeam {
        padding: 20px 5%;
    }

    .ourTeam p {
        font-size: 22px;
    }

    /* .ourTeamItem h4 {} */

    .ourTeamItem>div {
        width: 49%;
    }

    .ProgressText {
        width: 100%;
        margin-top: 5px;
    }

    .ProgressBar {
        padding: 20px 5%;
    }

    .ProgressText p {
        font-size: 22px;
    }

    .aboutUsBot {
        padding: 20px 5%;
    }

    .aboutUsBot button {
        height: 40px;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 16px;
    }

}