.index_aboutUs {
    width: 100%;
    padding: 100px 20% 0;
    box-sizing: border-box;
    align-items: normal;
    border-bottom: 1px solid #888;
    background-color: #fff;
}

.index_aboutUs_right div {

    overflow: initial;
}

.index_aboutUs_right img {
    width: 100%;
    border-radius: 3%;
    /* height: auto; */
}

.index_aboutUs_right {
    box-sizing: border-box;
}

.index_aboutUs_right>div:first-child div:last-child {
    height: 60%;
    /* margin-bottom: 10px; */
}

.index_aboutUs_right>div:last-child div:first-child {
    height: 30%;
    margin-bottom: 20px;
    transform: translateY(-40px);
}

.index_aboutUs_right>div:last-child div:last-child {
    height: 30%;
    transform: translateY(-40px);

}

@media screen and (max-width: 375px) {
    .index_aboutUs {
        padding: 50px 5% 20px;

    }

    .index_aboutUs_right>div {
        height: 220px;
    }

    .index_aboutUs_right>div:first-child div:last-child {
        height: 100%;
    }

    .index_aboutUs_right>div:last-child div:first-child {
        transform: translateY(0);
        margin-bottom: 5px;
        height: 49%;
    }

    .index_aboutUs_right>div:last-child div:last-child {
        height: 49%;
        transform: translateY(0);
    }

}